@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800;900&display=swap');

:root{
  --headingFont: 'Bitter', serif;
}

header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding:0px 16px;
  height:66px;
  border-bottom: 1px solid #d3d6da;
}

header h1{
 font-family: var(--headingFont);
 font-weight: 900;
 color: #000;
 font-size: 2rem;
 margin:0px;
}

header a{
  text-decoration: none;
  color: black;
}

header a:hover{
  color: black;
}

header a svg {
  width: 30px;
}

header #header-right > *{
  padding: 0 5px;
}

@media (min-width:768px){
  header #header-left{
    /* min-width: 120px;*/
    padding-right: 70px; 
  }
}


@media (max-width:768px){
  header{
    min-height: 40px;
    justify-content: flex-start;
    align-items: center;
  }
  header h1{
    font-size: 26px;
    flex-grow: 2;
  }

  header #header-left{
    padding-right: 13px; 
  }

  header a svg {
    width: 24px;
  }
}