@import 'header.css';
@import 'keyboard.css';
@import 'modal.css';

@font-face {
  font-family: 'ClearSans';
  src: url('/assets/fonts/ClearSans.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('/assets/fonts/ClearSans.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
  font-family: 'ClearSansBold';
  src: url('/assets/fonts/ClearSans-Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('/assets/fonts/ClearSans-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

:root{
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --lightGray: #d3d6da;;
  --darkGray: #939598;
  --darkestGray: #787c7e;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  font-family: 'ClearSansBold', 'Helvetica Neue', Arial, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#results{
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.correct{
  color: var(--darkendGreen);
}

.present{
  color: var(--darkendYellow);
}

.absent{
  color: var(--darkestGray);
}

#output ul li{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

#board{
  display:grid;  
  grid-gap: 5px;
}

#board .grid-row {
  display:grid;
  grid-template-columns: repeat(5, 62px);
  grid-gap: 5px;
}
#board .grid-row .letter[data-state='filled']{
  animation-name: showLetter;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}
#board .grid-row .letter[data-state='correct']{
  color: #fff;
  background-color: var(--darkendGreen);
  border-color: var(--darkendGreen);
  /* animation-name: showLetter;
  animation-duration: 100ms;
  animation-fill-mode: forwards; */
}
#board .grid-row .letter[data-state='present']{
  color: #fff;
  background-color: var(--darkendYellow);
  border-color: var(--darkendYellow);
  /* animation-name: showLetter;
  animation-duration: 100ms;
  animation-fill-mode: forwards; */
}
#board .grid-row .letter[data-state='absent']{
  color: #fff;
  background-color: var(--darkestGray);
  border-color: var(--darkestGray);
  /* animation-name: showLetter;
  animation-duration: 100ms;
  animation-fill-mode: forwards; */
}
#board .grid-row .letter{
  border: 2px var(--lightGray) solid;
  width:auto;
  height:62px;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;

  /* animation-name: showLetter;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; */
}

@keyframes showLetter {
  0% {
    transform: scale(1);
    border-color: var(--lightGray);
  }
  
  80% {
    transform: scale(1.05);
    border-color: var(--gray);
  }
  
  100% {
    transform: scale(1);
    border-color: var(--darkGray);
  }
}

@media (max-width:768px){  
  #board .grid-row .letter{
    height:58px;
  }
}