#instructionsModal{
  border-radius: 8px;
}
#instructionsModal a{
  color: var(--linkColor);
  font-weight:bold;
}

/* #dateModal .modal-content, */
#instructionsModal .modal-content{
  color:var(--textColor);
  background-color: var(--bgColor);
}

/* .datepicker-picker > *{
  background-color: var(--bgColor) !important;

} */

.ex-word{
  display: flex;
  padding-bottom:10px;
}

.ex-word .letter:last-of-type{
  margin-right:0px;
}

.ex-word .letter{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 700;
  border: 1px solid var(--exBorderColor);
  margin-right: 4px;
}

.ex-word .letter[data-state='correct']{
  color: #fff;
  background-color: var(--darkendGreen);
  border-color: var(--darkendGreen);
}
.ex-word .letter[data-state='present']{
  color: #fff;
  background-color: var(--darkendYellow);
  border-color: var(--darkendYellow);
}
.ex-word .letter[data-state='absent']{
  color: #fff;
  background-color: var(--darkestGray);
  border-color: var(--darkestGray);
}

#statsModal .main-stats{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  align-items: flex-start;
  justify-content: center;
  margin-bottom:25px;
}

#statsModal .main-stats > * {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#statsModal .main-stats > * small{
  font-size:12px;
}

#statsModal .guess-table{
  width: 80%;
}

#statsModal .guess-table .bar-fill{
  content: attr(data-num-attempts);
  background-color: var(--darkestGray);
  color: #fff;
  min-width: 7%;
  height: 18px;
  margin: 0px;
  padding: 0px;
  margin-left: 8px;
  justify-content: flex-end;
  padding-right: 8px;
}

@media (max-width: 768px){
  #statsModal .guess-table{
    width: 100%;
  }
}